<a href="https://colab.research.google.com/github/NPontisLedda/Proyecto_AirBnb/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA (Análisis exploratorio de datos) de AirBnb

###### En este notebook se va a llevar a cabo todo el análisis exploratorio de los datos obtenidos, luego de realizar todo el proceso de ETL con los datos originales.

In [1]:
# Importamos las librerías que van a ser necesarias.

import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

### Calendar

In [2]:
df_calendar = pd.read_csv('/content/drive/MyDrive/Proyectos/Proyecto_AirBnb/Datasets para EDA/calendar_limpio.csv')

In [7]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8661181 entries, 0 to 8661180
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   price           object
 3   adjusted_price  object
 4   minimum_nights  float64
 5   maximum_nights  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 396.5+ MB

### Listings

In [8]:
df_listings = pd.read_csv('/content/drive/MyDrive/Proyectos/Proyecto_AirBnb/Datasets para EDA/listings_limpio.csv')

In [17]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23729 entries, 0 to 23728
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   listing_id             23729 non-null  int64
 1   name                   23729 non-null  object
 2   space                  23729 non-null  object
 3   description            23729 non-null  object
 4   neighborhood_overview  23729 non-null  object
 5   street                 23729 non-null  object
 6   neighbourhood          23729 non-null  object
 7   city                   23729 non-null  object
 8   state                  23729 non-null  object
 9   country                23729 non-null  object
 10  latitude               23729 non-null  float64
 11  longitude              23729 non-null  float64
 12  property_type          23729 non-null  object
 13  amenities              23729 non-null  object
 14  price                  23729 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 2.7+ MB

In [16]:
# Modificamos el nombre de la columna id, para después poder hacer un merge con el resto de datasets sin problema.

df_listings = df_listings.rename(columns={'id' : 'listing_id'})

In [20]:
df_listings.shape

(23729, 15)

### Reviews

In [12]:
df_reviews = pd.read_csv('/content/drive/MyDrive/Proyectos/Proyecto_AirBnb/Datasets para EDA/reviews_limpios.csv')

In [23]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386928 entries, 0 to 386927
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   listing_id          386928 non-null  int64
 1   id                  386928 non-null  int64
 2   date                386928 non-null  object
 3   reviewer_id         386928 non-null  int64
 4   sentiment_analysis  386928 non-null  int64
dtypes: int64(4), object(1)
memory usage: 14.8+ MB

### Unificamos toda la data a través de *listing_id*

In [25]:
u1 = pd.merge(df_reviews, df_listings, on= 'listing_id', how= 'outer')

In [26]:
u1.shape

(393436, 19)